/* 전체 선택자 */
* {
  color: blue;
}

/* 태그 선택자 */
h3 {
  background-color: yellow;
}
p {
  color: navy;
  color: tomato;
}

/* 클래스 선택자 */
.class1 {
  color: yellowgreen;
}
.class2 {
  font-size: 30px;
}

/* 아이디 선택자 */
#id1 {
  background-color: indigo;
}

/* 그룹 선택자 */
#select1,
#select2 {
  background-color: orangered;
}

/* 자식/자손 선택자 */
#test1 ul li {
  background-color: pink;
}
#test1 > ul > li {
  color: red;
}
#test1 > ul > ul > li {
  color: aqua;
}

/* 속성 선택자 */
div[name="name1"] {
  /* = : 정확히 일치 */
  background-color: pink;
}
div[name~="name1"] {
  /* ~= : 단어가 포함되어 있는지 */
  background: yellow;
}
/* *= : 부분 일치 */
div[class*="-c"] {
  color: red;
}
/* ^= : 시작 일치 */
div[class^="cl"] {
  background: blue;
}
/* |= : 시작 일치 */
div[class|="div"] {
  background-color: cyan;
}
div[class$="div"] {
  /* $= 끝 일치 */
  background-color: pink;
}

/* 형제 선택자 */
#test2 ~ div {
  /* 동일한 부모를 가진 요소 중에
    #test2 이후에 등장하는 모든 형제 div 선택
  */
  background: beige;
}
#test2 + div {
  /* #test2 바로 뒤에 있는 div만 선택 */
  background: yellow;
}

/* 반응 선택자 */
.area {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* :active : 마우스를 눌렀을 때 */
#active-test:active {
  background-color: yellow;
  color: red;
}
/* :hover : 마우스를 올렸을 때 */
#hover-test:hover {
  background-color: maroon;
  color: white;
}
/* :focus : input요소에 포커스가 갔을 때 */
input[type="text"]:focus {
  background-color: pink;
}
/* :checked : 체크 박스에 체크 상태인 경우 */
input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
}
/* :enabled : 버튼 클릭 가능한 경우 */
button:enabled {
  background-color: violet;
}
/* :disabled : 버튼 클릭 불가능한 경우 */
button:disabled {
  background-color: yellowgreen;
}

/* 구조 선택자 */
#test3 li:first-child {
  background-color: salmon;
}
#test3 li:last-child {
  background-color: skyblue;
}
/* :nth-child(숫자, odd - 홀수, even - 짝수) */
#test3 li:nth-child(even) {
  background-color: darkcyan;
}
#test3 li:nth-of-type(4) {
  color: white;
}
#test3 li:nth-last-child(3) {
  background-color: hotpink;
}
#test3 li:nth-last-of-type(3) {
  background-color: seagreen;
}

/* 가상 요소 선택자 */
#test4 p::before {
  content: "앞";
  color: blue;
  background-color: yellow;
}
#test4 p::after {
  content: "뒤";
  color: white;
  background: black;
}

/* 선택자 우선순위 */
/* !important > 인라인 스타일(style="") > id선택자(#id) > class선택자(.class) > 태그 선택자 */
#test5 {
  width: 200px;
  height: 200px;
}
div.class5 {
  background: pink !important;
}
div#test5 {
  background: skyblue;
}
