body {
  display: flex;
}

#main div {
  padding: 7px;
}

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#date {
  font-size: 2.3rem;
  font-weight: bold;
}

#time {
  margin: 20px 0 30px;
  font-size: 4.5rem;
  font-weight: bold;
}

#leftTime {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#sayingEn {
  font-size: 1.5rem;
  font-weight: 700;
  width: 80%;
  text-align: center;
}
#sayingKo {
  font-size: 1.5rem;
  font-weight: 700;
  width: 80%;
  text-align: center;
}
